<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register application</title>

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/home">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">Edit data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead">
    <div class="text-center" style="color: white; margin-top: 12%">
        <h3>Edit your data</h3>
        <br>
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <form class="form" method="post" action="/editData">

                    <div class="form-group has-default">
                        <div class="input-group">
                            <input name="firstName" th:value="${firstName}" type="text" class="form-control"
                                   placeholder="First name..." required minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="input-group">
                            <input name="lastName" th:value="${lastName}" type="text" class="form-control"
                                   placeholder="Last name..." required minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="input-group">
                            <input name="email" th:value="${email}" type="email" class="form-control"
                                   placeholder="email..." required minlength="3" maxlength="30">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="input-group">
                            <input name="password" type="text" class="form-control"
                                   placeholder="Password..." required minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="input-group">
                            <input name="password2" type="text" class="form-control"
                                   placeholder="Confirm password..." required minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Update!">
                    </div>

                    <div th:if="${message} != null" th:class="'my-4 alert alert-' + ${messageType}"
                         th:text="${message}" role="alert">
                    </div>

                </form>
            </div>
        </div>
    </div>
</header>

</body>

</html>
