<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register application</title>

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a th:if="${role.equals('admin') == true}" class="nav-link js-scroll-trigger" href="/userList">Admin
                        panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/editData">Edit data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead">
    <div class="text-center" style="color: white; margin-top: 12%">
        <table style="margin-left: 40%; text-align: left; font-size: 130%">
            <tbody>
            <tr>
                <th style="color: #BD5D38">
                    First name:
                </th>
                <th>
                    <a th:text="${firstName}"/>
                </th>
            </tr>
            <tr>
                <th style="color: #BD5D38">
                    Last name:
                </th>
                <th>
                    <a th:text="${lastName}"/>
                </th>
            </tr>
            <tr>
                <th style="color: #BD5D38">
                    Email:
                </th>
                <th>
                    <a th:text="${email}"/>
                </th>
            </tr>
            <tr>
                <th style="color: #BD5D38">
                    Is active:
                </th>
                <th>
                    <a th:text="${isActive}"/>
                </th>
            </tr>
            <tr>
                <th style="color: #BD5D38">
                    Role:
                </th>
                <th>
                    <a th:text="${role}"/>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</header>

</body>

</html>
