<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register application</title>

    <!-- Font Awesome Icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/login">Login</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead">

    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <form class="form" method="post" action="/register">

                <div class="form-group has-default">
                    <div class="input-group">
                        <input name="firstName" class="form-control" placeholder="First name..."
                               type="text" minlength="3" maxlength="20">
                    </div>
                </div>

                <div class="form-group has-default">
                    <div class="input-group">
                        <input name="lastName" type="text" class="form-control"
                               placeholder="Last name..." minlength="3" maxlength="20">
                    </div>
                </div>

                <div class="form-group has-default">
                    <div class="input-group">
                        <input name="email" type="email" class="form-control"
                               placeholder="email..." minlength="3" maxlength="30">
                    </div>
                </div>

                <div class="form-group has-default">
                    <div class="input-group">
                        <input name="password" type="password" class="form-control"
                               placeholder="Password..." minlength="3" maxlength="20">
                    </div>
                </div>

                <div class="form-group has-default">
                    <div class="input-group">
                        <input name="password2" type="password" class="form-control"
                               placeholder="Confirm password..." minlength="3" maxlength="20">
                    </div>
                </div>

                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Register!">
                </div>

                <div th:if="${message} != null" th:class="'my-4 alert alert-' + ${messageType}"
                     th:text="${message}" role="alert">
                </div>

            </form>
        </div>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>

</body>

</html>
